<div id="<%= dom_id student %>">
  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= student.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= student.last_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= student.address %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= student.date_of_birth %>
  </p>

  <p>
    <strong>Approval Status</strong>
    <%= student.approved ? "Approved" : "Not Approved" %>
  </p>

</div>
